.center {
  text-align: center;
}
.my_banner img {
  min-width: 665px !important;
  width: auto !important;
  height: auto !important;
}
.primary-define .product-info .cart #button-cart:before,
.primary-define .button {
  background-color: #FBD606;
}
.primary-define .button:hover {
  background-color: #444444;
}
.home .box-heading,
.home .rating,
.home .details,
.home .description {
  display: none !important;
}
body.home .my_banner {
  padding: 0px;
  max-width: 1115px;
  margin-left: 40px;
}
body.home .box-content {
  min-width: 800px;
}
body.home .box-product a {
  color: transparent;
}
body.home .box-product .price {
  text-align: right;
}
body.home .box-product .name {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
body.home .box-product .name:hover {
  text-decoration: none;
}
body.detail_view .my_banner img {
  display: block;
  margin: 0px auto 0px auto;
}
.backend .div2,
.backend #footer {
  display: none;
}
.backend #menu {
  display: block !important;
}
body.detail_view .review,
body.detail_view .cart > div:last-child,
body.detail_view #tabs > a:nth-child(2) {
  display: none !important;
}
body.detail_view .my_banner img {
  display: block;
  margin: 0px auto 0px auto;
}
body.detail_view h1 {
  font-weight: bold;
  border-bottom: 3px solid #ddd !important;
  padding-bottom: 15px !important;
}
body.detail_view .cart > div:first-child {
  border-bottom: 0px !important;
}
