.center {
  text-align: center;
}
.my_banner img {
  min-width: 500px !important;
  width: auto !important;
  height: auto !important;
}
.home .box-heading,
.home .rating,
.home .details,
.home .description {
  display: none !important;
}
.home .my_banner {
  padding: 0px;
  max-width: 1115px;
  margin-left: 40px;
}
body.detail_view .my_banner img {
  display: block;
  margin: 0px auto 0px auto;
}
.backend .div2,
.backend #footer > a {
  display: none;
}
body.detail_view .review,
body.detail_view .cart > div:last-child,
body.detail_view #tabs > a:nth-child(2) {
  display: none !important;
}
body.detail_view .my_banner img {
  display: block;
  margin: 0px auto 0px auto;
}
body.detail_view h1 {
  font-weight: bold;
  border-bottom: 3px solid #ddd !important;
  padding-bottom: 15px !important;
}
body.detail_view .cart > div:first-child {
  border-bottom: 0px !important;
}
